<section>
    {{#if image}}
        <img src="{{image}}" alt="{{image_alt}}">
    {{/if}}
    <h2>{{title}}</h2>
    {{#if text}}
        <p>{{text}}</p>
    {{/if}}
    <small>{{info}}</small>
    {{#if tag}}
        <small>#{{tag}}</small>
    {{/if}}
</section>