<article class="card">
    <header>
        {{#if image}}
            <div class="card__image-container">
                <img class="card__image" src="{{image}}" alt="{{image_alt}}">
            </div>
        {{/if}}
    </header>

    <footer>
        <h2>{{title}}</h2>
        {{#if text}}
            <p>{{{text}}}</p>
        {{/if}}
        <small>{{info}}</small>
        {{#if tag}}
            <small>#{{tag}}</small>
        {{/if}}
    </footer>
</article>